whatsapp-agent-n8n.json
{
  "name": "VTR WhatsApp Booking Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vino-whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "036b88c2-13f2-4671-bdc1-390511326be1",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1296,
        2080
      ],
      "webhookId": "vino-whatsapp-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "customerPhone",
              "value": "={{ $json.body.whatsappInboundMessage.from }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "messageText",
              "value": "={{ $json.body.whatsappInboundMessage.text.body }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "yourPhone",
              "value": "={{ $json.body.whatsappInboundMessage.to }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ae755656-d4d0-47fb-b56c-2bec9e92609f",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -848,
        1984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4o\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a friendly appointment booking assistant. Today's date is {{ $now.toFormat('yyyy-MM-dd') }}.\\n\\nWhen a customer wants to book an appointment, respond in EXACTLY this format:\\nINTENT: BOOKING\\nDATE: YYYY-MM-DD\\nTIME: HH:MM\\nREPLY: [your friendly message confirming the booking details]\\n\\nIf the slot requested is unclear (no specific date/time given), ask them for it:\\nINTENT: CLARIFY\\nREPLY: [ask them what date and time they prefer]\\n\\nFor any other general question, respond in this format:\\nINTENT: GENERAL\\nREPLY: [your helpful answer]\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.messageText }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "4c798cff-1456-4075-b388-2e8522f226f5",
      "name": "Ask OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        1984
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "intent",
              "value": "={{ $json.choices[0].message.content.match(/INTENT:\\s*(\\w+)/)?.[1] ?? 'GENERAL' }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "bookingDate",
              "value": "={{ $json.choices[0].message.content.match(/DATE:\\s*([\\d-]+)/)?.[1] ?? '' }}",
              "type": "string"
            },
            {
              "id": "b3",
              "name": "bookingTime",
              "value": "={{ $json.choices[0].message.content.match(/TIME:\\s*([\\d:]+)/)?.[1] ?? '' }}",
              "type": "string"
            },
            {
              "id": "b4",
              "name": "replyMessage",
              "value": "={{ $json.choices[0].message.content.match(/REPLY:\\s*([\\s\\S]+)/)?.[1]?.trim() ?? 'Sorry, I could not process that. Please try again.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2be89bee-e5c8-465b-b4c3-9fd8d714ba3e",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -416,
        1984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-booking",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "BOOKING",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b697aed0-5b8b-4fe6-aa08-160a5694c7ad",
      "name": "Is Booking Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -192,
        1984
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.bookingDate + 'T' + $json.bookingTime + ':00' }}",
        "end": "={{ DateTime.fromISO($json.bookingDate + 'T' + $json.bookingTime + ':00').plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "description": "=Appointment booked via WhatsApp bot.",
          "summary": "=WhatsApp Appointment - {{ $('WhatsApp Webhook').first().json.body.whatsappInboundMessage.from }}"
        }
      },
      "id": "2fb26af9-e160-4b43-9c54-9f9dd911a5e4",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        32,
        1872
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VINO_WHATSAPP_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.VINO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('WhatsApp Webhook').first().json.body.whatsappInboundMessage.to }}\",\n  \"to\": \"{{ $('WhatsApp Webhook').first().json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"✅ {{ $('Parse AI Response').first().json.replyMessage }}\\n\\nYour appointment has been added to the calendar!\"\n  }\n}",
        "options": {}
      },
      "id": "ad87f61b-0d00-4ee1-98e7-9b767115e677",
      "name": "Send Booking Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        1872
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VINO_WHATSAPP_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.VINO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $('WhatsApp Webhook').first().json.body.whatsappInboundMessage.to }}\",\n  \"to\": \"{{ $('WhatsApp Webhook').first().json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $('Parse AI Response').first().json.replyMessage }}\"\n  }\n}",
        "options": {}
      },
      "id": "246b84ee-ef95-4784-b1c6-47cac426cb08",
      "name": "Send General Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        2112
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "c51969a8-66ab-4ed9-b74b-15d247af50a6",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        464,
        1984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-inbound",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "inbound",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5a80cba-3727-42a4-91b3-21f33a1228fc",
      "name": "Is Inbound Message?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1072,
        2080
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "b8d4251e-f314-4f35-9fbc-cb5ceba14292",
      "name": "Ignore Outbound1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -848,
        2240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Inbound Message?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Ask OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask OpenAI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Is Booking Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Booking Request?": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send General Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Booking Confirmation": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send General Reply": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Inbound Message?1": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Outbound1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "67c135d3-dc08-44d2-a773-b82972b62f06",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3e36432bd12cec8133026e573e7aa58e3235f3e4cd486f9e93a5aef158a758f3"
  },
  "id": "pyGTlAKIifw7vPUm",
  "tags": []
}
